@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

:root {
  --color-main-white: #f6f6f6;
  --color-secondary-white: #c2c2c2;
  --color-main-black: #2d2d2d;
  --color-secondary-black: #3a3a3a;
  --color-main-color: #ecf86e;
  --color-secondary-color: #7b828b;
}

@theme {
  --color-main-white: #f6f6f6;
  --color-secondary-white: #c2c2c2;
  --color-main-black: #2d2d2d;
  --color-secondary-black: #3a3a3a;
  --color-main-color: #ecf86e;
  --color-secondary-color: #97a2aa;
}

* {
  font-family: "Inter", sans-serif;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
