@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-main-white: #f6f6f6;
  --color-secondary-white: #c2c2c2;
  --color-main-black: #2d2d2d;
  --color-secondary-black: #3a3a3a;
  --color-main-color: #ecf86e;
  --color-secondary-color: #97a2aa;
  --color-main-text: #2d2d2d;
  --color-secondary-text: #464646;
  --color-secondary-text-white: #a9a9a9;
  --font-main-font: "Inter", sans-serif;
  --font-secondary-font: "Montserrat", sans-serif;
}

* {
  font-family: var(--font-main-font);
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@layer base {
  h1,
  h2,
  h3 {
    color: var(--color-main-text);
  }
  span,
  li,
  a,
  p {
    color: var(--color-secondary-text);
  }
}
